.input-container {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
    width: 100%;
  }
  .input-container i {
    margin-right: 0px;
    color: #888;
  }
  .input-container input {
    flex: 1;
    border: none;
    outline: none;
    padding: 1px;
    font-size: 16px;
  }
  .bg-black {
    background-color: #0a0a0a !important; /* Negro */
  }
  .bg-danger {
    background-color: #dc3545 !important; /* Rojo */
  }
  
  .bg-warning {
    background-color: #ffc107 !important; /* Amarillo */
  }
  
  .bg-success {
    background-color: #28a745 !important; /* Verde */
  }
  
  .bg-white {
    background-color: #ffffff !important; /* Blanco */
  }

  .checkbox-cell {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente (opcional) */
    height: 50px; /* Ajusta según tu necesidad */
}
.link {
  color: blue; /* Color azul */
  text-decoration: underline; /* Subrayado */
  cursor: pointer; /* Cambiar el puntero a una mano */
}

.link:hover {
  text-decoration: none; /* Opcional: quitar el subrayado al pasar el mouse */
}
.container{
  margin: auto;
  margin-top: 100px;
}
thead th {
  border: 1px solid #999999; /* Bordes separadores */
  text-align: center; /* Centra el texto */
  padding: 8px; /* Espaciado dentro de la celda */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

thead {
  border-collapse: collapse; /* Asegura que los bordes se vean bien */
}

th, td {
  border: 1px solid #ddd; /* Borde ligero para celdas */
  padding: 4px; /* Espaciado interno para las celdas */
  text-align: left; /* Alineación horizontal del texto en las celdas */
  vertical-align: middle; /* Alineación vertical del texto */
}

.btn-transparent {
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  color: blue; /* Color del texto como hipervínculo */
  text-decoration: underline; /* Subrayado como hipervínculo */
  cursor: pointer; /* Cambia el puntero a una mano */
  padding: 0; /* Elimina el padding por defecto del botón */
  
}

.btn-transparent:hover {
  text-decoration: none; /* Quita el subrayado al pasar el mouse */
}
.icono-separado {
  margin-right: 5px; /* Añade espacio entre el icono y el texto */
}