<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <table class="table">
  
            <thead>
              <tr>
                <th scope="col">Nro MEMO</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">MONTO INICIADO</th>
                <th scope="col">FECHA DE CREACION</th>
                <th scope="col">OBSERVACIONES</th>
              </tr>
            </thead>
            
            <tbody>
              <tr>
                <th scope="col">
                  <div class="input-container">
                    <i class="material-icons">search</i>
                    <input type="text"
                    [(ngModel)]="filtro"
                    (ngModelChange)="filtrarDatos()"
                    class="form-control"
                    >
                  </div>
                </th>
                <th scope="col">
                  <div class="input-container">
                    <i class="material-icons">search</i>
                    <input type="text"
                    [(ngModel)]="filtroNombre"
                    (ngModelChange)="filtrarDatosNombre()"
                    class="form-control"
                    >
                  </div>
                </th>
                <th scope="col">
                  <div class="input-container">
                    <i class="material-icons">search</i>
                    <input type="text" 
                    [(ngModel)]="filtroServicio"
                    (ngModelChange)="filtrarDatosServicio()"
                    class="form-control"
                    >
                  </div>
                </th>
              </tr>
              <ng-container *ngIf="datosFiltrados.length > 0; "></ng-container>
              <tr *ngFor="let item of datosFiltrados">
                <th scope="row">{{item.proc_en_cursoMemo}}</th>
                <td><span class="link" [routerLink]="['/detalles', item.proc_en_cursoNombre]"> {{item.proc_en_cursoNombre}}</span></td>
                <td>$ {{item.proc_en_cursoMontoIniciado}}</td>
                <td>
                  {{ item.proc_en_cursoFechaCreacion | date:'yyyy-MM-dd' }}
                </td>
                <td>{{item.proc_en_cursoObs}}</td>            
              </tr>
            
            
            </tbody>
          </table>
          <div *ngIf="datosFiltrados.length === 0">
           <b><p>NO SE ENCONTRARON RESULTADOS PARA EL VALOR INGRESADO</p></b> 
          </div>
    </div>
  </div>
