.styled-form {
  max-width: 800px; /* Ancho máximo del formulario */
  margin: 20px auto; /* Centrando el formulario en la página */
  padding: 20px; /* Espacio interno */
  border: 1px solid #ccc; /* Borde del formulario */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Fondo del formulario */
  margin-top: 150px; /* Margen superior */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra del formulario */
}

.styled-form div {
  display: flex; /* Usar flexbox para las columnas */
  justify-content: space-between; /* Espacio entre columnas */
  margin-bottom: 15px; /* Espacio entre los campos */
}

.styled-form label {
  flex: 1; /* Toma el espacio necesario */
  margin-right: 10px; /* Espacio a la derecha del label */
}

.styled-form input[type="text"],
.styled-form input[type="date"],
.styled-form textarea {
  flex: 2; /* Toma el doble de espacio que el label */
  padding: 10px; /* Espaciado interno en los campos */
  border: 1px solid #ccc; /* Borde de los campos */
  border-radius: 4px; /* Bordes redondeados en los campos */
  font-size: 16px; /* Tamaño de fuente */
}

.styled-form button {
  width: 100%; /* Botón ocupa el ancho completo */
  padding: 10px; /* Espaciado interno */
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados en el botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-size: 16px; /* Tamaño de fuente */
}

.styled-form button:hover {
  background-color: #0056b3; /* Color del botón al pasar el mouse */
}
