<app-navbar></app-navbar>
<form [formGroup]="compraForm" class="styled-form">

    <div>
        <label for="proc_en_cursoFechaCreacion">Fecha de Creación:</label>
        <input id="proc_en_cursoFechaCreacion" formControlName="proc_en_cursoFechaCreacion" type="date" />
    </div>

    <div>
        <label for="proc_en_cursoMemo">Memo:</label>
        <input id="proc_en_cursoMemo" formControlName="proc_en_cursoMemo" type="text" />
    </div>

    <div>
        <label for="proc_en_cursoNombre">Nombre:</label>
        <input id="proc_en_cursoNombre" formControlName="proc_en_cursoNombre" type="text" />
    </div>

    <div>
        <label for="proc_en_cursoNumero">Número:</label>
        <input id="proc_en_cursoNumero" formControlName="proc_en_cursoNumero" type="text" />
    </div>

    <div>
        <label for="proc_en_cursoTipoCompra">Tipo de Compra:</label>
        <input id="proc_en_cursoTipoCompra" formControlName="proc_en_cursoTipoCompra" type="text" />
    </div>

    <div>
        <label for="proc_en_cursoMontoInicial">Monto Inicial:</label>
        <input id="proc_en_cursoMontoInicial" formControlName="proc_en_cursoMontoInicial" type="text" />
    </div>
    <div>
        <label for="proc_en_cursoResolucionFinal">Resolucion Final:</label>
        <input id="proc_en_cursoResolucionFinal" formControlName="proc_en_cursoResolucionFinal" type="text" />
    </div>
    <div>
        <label for="proc_en_cursoMontoFinal">Monto Final:</label>
        <input id="proc_en_cursoMontoFinal" formControlName="proc_en_cursoMontoFinal" type="text" />
    </div>
    <div>
        <label for="proc_en_cursoMontoInicial">Monto Inicial:</label>
        <input id="proc_en_cursoMontoInicial" formControlName="proc_en_cursoMontoInicial" type="text" />
    </div>
    <div>
        <label for="proc_en_cursoRubro">Rubro:</label>
        <input id="proc_en_cursoRubro" formControlName="proc_en_cursoRubro" type="text" />
    </div>
    <div>
        <label for="proc_en_cursoEmpresa">Empresa:</label>
        <input id="proc_en_cursoEmpresa" formControlName="proc_en_cursoEmpresa" type="text" />
    </div>

    <div>
        <label for="proc_en_cursoTiempo">Tiempo:</label>
        <input id="proc_en_cursoTiempo" formControlName="proc_en_cursoTiempo" type="text" />
    </div>

    <div>
        <label for="proc_en_cursoObs">Observaciones:</label>
        <textarea id="proc_en_cursoObs" formControlName="proc_en_cursoObs"></textarea>
    </div>

    <div>
        <label for="proc_en_cursoRegimen">Régimen:</label>
        <input id="proc_en_cursoRegimen" formControlName="proc_en_cursoRegimen" type="text" />
    </div>

    <div>
        <label for="proc_en_cursoFechaInicio">Fecha de Inicio:</label>
        <input id="proc_en_cursoFechaInicio" required formControlName="proc_en_cursoFechaInicio" type="date" />
    </div>

    <div>
        <label for="proc_en_cursoFechaFin">Fecha de Fin:</label>
        <input id="proc_en_cursoFechaFin" required formControlName="proc_en_cursoFechaFin" type="date" />
    </div>

    <div>
        <label for="proc_en_cursoIdCompraAnt">ID Compra Anterior:</label>
        <input 
            id="proc_en_cursoIdCompraAnt" 
            formControlName="proc_en_cursoIdCompraAnt" 
            type="text" 
            readonly 
        />
    </div>
    <div>
        <label for="proc_en_cursoProcNuevo">Proc compra nuevo:</label>
        <input id="proc_en_cursoProcNuevo"  formControlName="proc_en_cursoProcNuevo" type="text" />
    </div>

    <button *ngIf="!editar" (click)="addCompra()">Guardar</button>
    <button *ngIf="editar" (click)="editarCompra()">Editar</button>
</form>